#blockskip a {
      position: absolute;
      top: 0;
      left: -9999px;
      display: block;
      text-align: center;
  }

  #blockskip a:focus {
      z-index: 11000;
      left: 0;
      right: 0;
      margin: auto;
  }
  .btn-rounded{
      border-radius : 1000px;
  }


  .color__btn {
      background-color: #80CBC4;
      color: #212121;
  }
  .color__navi {
      background-color: #fff;
  }
  .color__logo {
      color: #212121;
  }
  .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
      background-color: transparent;
      border-bottom : 3px solid #303F9F;
  }

  .toggler__txt{
      display : block;
      font-size : 0.5em;
  }
  .nav__main {
    font-size: 1.2em;
  }
  .nav__sub{
      font-size : 0.8em;
  }
  .mr-1 {
  margin-right: ($spacer * .5) !important;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}
th,td {
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  width: 300px;
  font-weight: normal;
  font-size: .875rem;
  color: #666;
  background: #99FFCC;
}


.care-button {
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 10px;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}
.care-button :hover {
  background: #cbedff;
  color: #FFF;
}

.care-delete-button{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  border: dashed 1px #000;
  background: #F00;
  border-radius: 3px;
  transition: .4s;
}
.care-delete-button :hover{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  border: dashed 1px #67c5ff;
  background: #F00;
  border-radius: 3px;
  transition: .4s;
}

img {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: .5rem;
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #66FF00	;/*背景色*/
  border-bottom: solid 2px #66FF00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 #66FF00	, 0 2px 2px #66FF00	;
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #66FF00;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

  @media (max-width: 768px) {
      .nav__main{
      font-size : 1em;
      }
      .nav__sub{
          font-size : 1em;
      }
      .navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
          background-color: #efefef;
          border-bottom : none;
      }
      table td, table th {
        display: block;
        width: 100%;
      }
      td {
        display: block;
      }
      .carer-name {
        background: #99FFCC;
      }
  }
